{% extends "app/base.html" %}

{% block title %}PostgreSQL Page{% endblock %}

{% block content %}
<style>
    .home {
        width: 100%;
        height: 15vh;
        background-position: center top;
        background-size: cover;
        background-attachment: fixed; /* This ensures the background is fixed */
    }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-size: 1.5rem;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
</style>

<div class="home">
    <div>
        <h4 style="
        text-align: left;
        font-family: 'Roboto', serif;
        font-size: 2.5rem;
        color: black;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        padding: 20px;
        font-size: 2rem;
        margin-top: 0vh;">
        This page simply has a connection to a PostgreSQL database table of products, it's purpose to display the table contents and perform data inserts.
        <br>
        The button and int selector will generate up to 100 records at a time, using Python to generate randon SKU's, Product Name, Price, Quantity and Location.
        <br>
        <br>
        Generate Random Products:
        <br>
        
        <form method="post">
            {% csrf_token %}
            
            <label for="num_products">Number of Products:</label>
            <input type="number" style="font-size: 1.2rem;" id="num_products" name="num_products" value="1" min="1" max="100">
            <button type="submit" style="font-size: 1.2rem;">Generate</button>
            </form>
        </h4>
    </div>
    <br>
    <div>
    </div>
    </section>
    
    </div>
    <div class="container">
    <br>
    <br>
    <table >
        <thead>
            <tr>
                <th>Product ID</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Created At</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.location }}</td>
                <td>{{ product.dateadded }}</td>
                <td>{{ product.dateupdated }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No products available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>



{% endblock %}

{% block content3 %}
<h2>Relational databases: where the only thing more complex than the data is the relationships between them.</h2>
{% endblock %}

{% block quotes %}
<blockquote class="blockquote">
    
</blockquote>
{% endblock %}
