<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Showcase</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <style>
        .box {
            width: 200px;
            height: 200px;
            background-color: lightgray;
            margin: 20px;
            display: inline-block;
            transition: background-color 0.3s;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
 
    </nav>
    
    <form method="post">
        {% csrf_token %} 
        <button type="submit">Change Color</button>
    </form>

                            <p id="color-display">Color will appear here</p>
                            <button id="change-color-btn">Change Color</button>
                            <button type="submit" id="change-color-btn2">Generate</button>
                            
                            <script>
                                $(document).ready(function() {
                                    var csrfToken = '{{ csrf_token }}';
                                
                                    $('#change-color-btn2').click(function() {
                                        $.ajax({
                                            url: '', // Add your URL endpoint here
                                            method: 'POST',
                                            headers: {
                                                'X-CSRFToken': csrfToken
                                            },
                                            data: {},
                                            success: function(data) {
                                                $('#color-display').text('Color: ' + data.color);
                                            }
                                        });
                                    });
                                });
                                
                                </script>
    
</body>
</html>
